{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    {{ block.super }} |
    بازیابی گذرواژه
{% endblock %}


{% block content %}
<section class="col-xl-10 col-md-9">
    <div class="row mt-3">
        {% if validlink %}
            <div class="offset-lg-2 col-lg-8 col-12">
                <div class="content-section">

                    <form method="post">
                        {% csrf_token %}

                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4 text-center">فرم بازیابی گذرواژه</legend>
                            {{ form|crispy }}
                        </fieldset>

                        <div class="form-group">
                            <button class="btn btn-lg btn-outline-primary" type="submit">ارسال</button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <h2>شما از سایت خارج شدید.</h2>
                <div class="border-top pt-3">
                    <p class="text-muted">لینک بازیابی گذرواژه قبلا استفاده شده و نامعتبر است. لطفا مجددا درخواست <a href="{% url 'dashboard:password_reset' %}">بازیابی گذرواژه</a> کنید.</p>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
