{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load recaptcha3 %}


{% block title %}
    {{ block.super }} |
    عضویت
{% endblock %}


{% block rechaptcha %}
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
{% endblock %}

{% block content %}
{% language 'fa' %}
<section class="col-xl-10 col-md-9">
    <div class="row mt-3">
        <div class="offset-lg-2 col-lg-8 col-12">

            <!-- help text -->
            <div class="content-section mb-4">
                <legend class="border-bottom mb-4 pt-2 text-center legend-header">
                    <h4>راهنمای ثبت نام</h4>
                </legend>
                <p>
                    برای ثبت نام فقط کافی است <em><mark>نام کاربری<mark></em>، <em><mark>ایمیل<mark></em>، <em><mark>گذر واژه<mark></em> و <em><mark>تکرار گذر واژه<mark></em> مورد نظر خود را وارد کنید. بلافاصله بعد از آن میتوانید لینک ها مورد نظر خود را ثبت کنید.
                </p>
            </div>

            <div class="content-section"
                <form action="" method="post">
                    {% csrf_token %}

                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 pt-1 text-center legend-header">
                            فرم ثبت نام
                        </legend>
                        {{ form|crispy }}
                    </fieldset>

                    <div class="form-group">
                        <button class="btn btn-lg btn-outline-primary" type="submit">ثبت نام</button>
                    </div>
                </form>

                <div class="border-top pt-3">
                    <small class="text-muted">
                        قبلا در خانه لینک ها ثبت نام کردید؟ <a href="{% url 'dashboard:login' %}">ورود</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>
{% endlanguage %}
{% endblock %}
