{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}

<!-- custom filter module -->
{% load i18n_switcher %}


{% block title %}{% trans 'Homelinks administration' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{% trans 'Homelinks administration' %}</a></h1>
{% endblock %}



{% block extrahead %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}"/>
{% endblock %}


{% block userlinks %}
    <a href="{{ request|switch_i18n:'en' }}">
        <img class="i18n_flag" src="{% static 'img/flag-usa-16.png' %}"/>
    </a> /
    <a href="{{ request|switch_i18n:'fa' }}">
        <img class="i18n_flag" src="{% static 'img/flag-iran-16.png' %}"/>
    </a> /
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
