{% extends "base_dashboard.html" %}


{% block title %}
    {{ block.super }} |
    قوانین و مقررات
{% endblock %}


{% block content %}

<!-- left sidebar -->
<section class="col-xl-9 col-md-8">
    <div class="row ml-auto mr-auto mt-3 pb-1 border border-info rounded">

        <!-- channel links -->
        <div class="col-12 mt-5">
            <h1 class="mb-3 text-center bg-light rounded">قوانین و مقررات</h1>
        </div>

        <div class="col-12">
            <ol class="rem1-2 text-justify px-4">
                <li class="my-4">
                    سایت خانه لینک ها در حوزه معرفی سایت ها، لینک کانال و گروه شبکه های اجتماعی فعالیت دارد و به زودی سایر بخش نیز به آن اضافه خواهد شد.
    سایت خانه لینک ها تابع قوانین جمهوری اسلامی ایران می باشد و از ثبت لینک هایی که دارای مواردی باشد که قوانین کشور را نقض کند جلوگیری خواهد کرد و تحت هیچ شرایطی انتشار داده نخواهند شد.
                </li>
                <li class="my-4">
تمامی لینک های شبکه های اجتماعی داخل سایت مربوط به کاربران بوده و خانه لینک ها هیچ دخالتی در مدیریت و هدایت این کانال ها، گروه ها و پیج ها ندارد. لذا تمامی مسئولیت کانال ها، گروه ها و پیج ها به عهده صاحب آنها می باشد.                </li>
                <li class="my-4">
اگر کاربر بعد از ثبت لینک محتوای کانال، گروه و یا پیج خود را تغییر دهد، موظف است به اطلاع خانه لینک ها برساند، در غیر اینصورت آگهی و لینک کاربر از سایت خانه لینک ها حذف شده و وجه پرداخت شده بازگشت داده نخواهد شد.                </li>
                <li class="my-4">
                    از ثبت کانال ها، گروه های و پیج ها سیاسی و مرتبط با احزاب معذوریم.
                </li>
                <li class="my-4">
سایت خانه لینک ها هیچ تعهدی نسبت به افزایش اعضای کانال، گروه و ... یا فروش محصولات شما ندارد فقط نمایش تبلیغات شما در مدت زمان مشخص را برعهده خواهد داشت.                </li>
                <li class="my-4">
بعد از سفارش تبلیغ و انتخاب جایگاه تبلیغاتی به هیچ عنوان امکان بازگشت و استرداد وجه امکان پذیر نخواهد بود.                </li>
                <li class="my-4">
                    این قوانین می تواند در هر زمان توسط خانه لینک ها تغییر داده یا به روز شود، که ثبت نام کاربر در سایت به معنای قبول این قوانین و مقررات است.
                </li>
            </ol>
        </div>

    </div>
</section><!-- left sidebar -->


{% endblock %}
