{% load static %}
<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="سایت خانه لینک ها در حوزه معرفی سایت، کانال، گروه و صفحات شبکه های اجتماعی فعالیت دارد.">
    <title>{% block title %}خانه لینک ها{% endblock %}</title>

    <!-- CSS files -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>

    {% block rechaptcha %}{% endblock %}
</head>

<body>

    {% include "navbar.html" %}
    {% block header %}{% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% include "messages.html" %}
            {% block rightside %}{% endblock %}

            <!-- left sidebar -->
            <!-- block content -->
            {% block content %}{% endblock %}

        </div><!-- row -->
    </div><!-- container-fluid -->


    {% include "footer.html" %}

    <!-- JavaScript -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    {% block javascript %}{% endblock %}
</body>
</html>
