{% load static %}
{% load i18n %}
{% language 'fa' %}
<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="سایت خانه لینک ها در حوزه معرفی سایت، کانال، گروه و صفحات شبکه های اجتماعی فعالیت دارد.">
    <title>{% block title %}خانه لینک ها{% endblock %}</title>

    <!-- CSS files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139038337-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139038337-1');
    </script>


    {% block rechaptcha %}{% endblock %}
</head>

<body>

    {% include "navbar.html" %}
    {% block header %}{% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% include "messages.html" %}
            {% block rightside %}{% endblock %}

            <!-- left sidebar -->
            <!-- block content -->
            <div id="magnet-native-ad">
            </div>

            {% block content %}{% endblock %}

        </div><!-- row -->

        <div class="row mt-5 mb-0">
            <div class="offset-1 col-10 border-top">
                <div id='mediaad-Vdti'></div>
            </div>
        </div>
    </div><!-- container-fluid -->


    {% include "footer.html" %}

    <!-- JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        var head = document.getElementsByTagName("head")[0];
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.async=1;
        script.src = "https://s1.mediaad.org/serve/homelinks.ir/loader.js" ;
        head.appendChild(script);
    </script>

    {% block javascript %}{% endblock %}
</body>
</html>
{% endlanguage %}
