{% load static %}

<!-- Footer -->
<footer class="footer mt-0 bg-dark white">
    <div class="container-fluid pt-4">
        <div class="row">

            <!-- col1: Site Introduction -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-12 py-2">
                <a href="/"><img class="float-left mr-2" src="{% static "img/logo.png" %}" alt="HomeLinks logo"></a>
                <p class="text-justify">سایت خانه لینک ها در حوزه معرفی سایت، کانال و گروه های شبکه های اجتماعی فعالیت دارد و به زودی سایر بخش ها نیز به آن اضافه خواهد شد.</p>
            </div><!-- col1: Site Introduction -->

            <!-- Links to websites, instagram, suggestions, most viewed -->
            <div class="offset-xl-1 col-xl-2 col-lg-3 col-md-6 col-12 py-2">
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{% url 'links:websites' %}?type=iranian">معرفی وب سایت های ایرانی</a></li>
                    <li><a class="footer-link" href="{% url 'links:websites' %}?type=foreign">معرفی وب سایت های خارجی</a></li>
                    <li><a class="footer-link" href="{% url 'links:instagrams' %}">معرفی پیج های اینستاگرام</a></li>
                </ul>
            </div><!-- Links to websites, instagram, suggestions, most viewed -->

            <!-- Links to Channels -->
            <div class="offset-xl-1 col-xl-2 col-lg-3 col-md-6 col-12 py-2">
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{% url 'links:channels' %}?app=telegram">معرفی کانال های تلگرام</a></li>
                    <li><a class="footer-link" href="{% url 'links:channels' %}?app=soroush">معرفی کانال های سروش</a></li>
                    <li><a class="footer-link" href="{% url 'links:channels' %}?app=gap">معرفی کانال های گپ</a></li>
                    <li><a class="footer-link" href="{% url 'links:channels' %}?app=igap">معرفی کانال های ای گپ</a></li>
                    <li><a class="footer-link" href="{% url 'links:channels' %}?app=eitaa">معرفی کانال های ایتا</a></li>
                </ul>
            </div><!-- Links to Channels -->

            <!-- Links to groups -->
            <div class="offset-xl-1 col-xl-2 col-lg-3 col-md-6 col-12 py-2">
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{% url 'links:groups' %}?app=whatsapp">معرفی گروه های واتس آپ</a></li>
                    <li><a class="footer-link" href="{% url 'links:groups' %}?app=telegram">معرفی گروه های تلگرام</a></li>
                    <li><a class="footer-link" href="{% url 'links:groups' %}?app=soroush">معرفی گروه های سروش</a></li>
                    <li><a class="footer-link" href="{% url 'links:groups' %}?app=gap">معرفی گروه های گپ</a></li>
                    <li><a class="footer-link" href="{% url 'links:groups' %}?app=igap">معرفی گروه های ای گپ</a></li>
                    <li><a class="footer-link" href="{% url 'links:groups' %}?app=eitaa">معرفی گروه های ایتا</a></li>
                </ul>
            </div><!-- Links to groups -->

            <div class="col-12">
                <a class="btn btn-outline-secondary d-block rem1-2" href="{% static 'apk/Homelinks.apk' %}">دانلود اپلیکیشن خانه لینک ها</a>
            </div>

            <div class="col-12">
                <h6 class="text-center p-3 white">
                تمامی حقوق مادی و معنوی برای سایت <a href="/">خانه لینک ها</a> محفوظ می باشد.
                </h6>
            </div>
        </div><!-- Row -->

    </div><!-- Container -->
</footer>
