<header class="bg-header">
    <div class="py-4 col-xl-10 col-lg-10 col-12 offset-lg-1 text-center">
        <h4 class="font-weight-bold">به خانه لینک ها خوش آمدید<h4>
        <p class="col-lg-10 col-12 offset-lg-1 card-text text-center rem1-3 ">
            خانه لینک ها سایتی برای معرفی سایت، کانال، گروه و ... است که شما می توانید با استفاده از امکاناتی که در اختیار شما قرار می گیرد سایت ها و کانال ها، گروه ها و ... خود را معرفی کنید و یا آنهایی را که مد نظر دارید به راحتی پیدا کنید.
        </p>
        <a class="btn btn-lg btn-primary" href="url 'dashboard:add_link'">ثبت لینک</a>
    </div>
</header>
