{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-md">

    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a href="{% url 'links:index' %}"><img class="navbar-brand top-logo" src="{% static "img/logo.png" %}" alt="Homelinks logo"></a>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-1">
                <a class="nav-link" href="{% url 'links:index' %}">خانه</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="{% url 'dashboard:add_link' %}">ثبت لینک</a>
            </li>
            <li class="nav-item dropdown mr-1">
                <a class="nav-link dropdown-toggle">سایت ها</a>
                <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownWebsites">
                    <a class="dropdown-item" href="{% url 'links:iranian-websites' %}">ایرانی</a>
                    <a class="dropdown-item" href="{% url 'links:foreign-websites' %}">خارجی</a>
                </div>
            </li>
            <li class="nav-item dropdown mr-1">
                <a class="nav-link dropdown-toggle">کانال ها</a>
                <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownChannels">
                    <a class="dropdown-item" href="{% url 'links:telegram-channels' %}">تلگرام</a>
                    <a class="dropdown-item" href="{% url 'links:soroush-channels' %}">سروش</a>
                    <a class="dropdown-item" href="{% url 'links:gap-channels' %}">گپ</a>
                    <a class="dropdown-item" href="{% url 'links:igap-channels' %}">ای گپ</a>
                    <a class="dropdown-item" href="{% url 'links:eitaa-channels' %}">ایتا</a>
                </div>
            </li>
            <li class="nav-item dropdown mr-1">
                <a class="nav-link dropdown-toggle">گروه ها</a>
                <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownGroups">
                    <a class="dropdown-item" href="{% url 'links:whatsapp-groups' %}">واتس اپ</a>
                    <a class="dropdown-item" href="{% url 'links:telegram-groups' %}">تلگرام</a>
                    <a class="dropdown-item" href="{% url 'links:soroush-groups' %}">سروش</a>
                    <a class="dropdown-item" href="{% url 'links:gap-groups' %}">گپ</a>
                    <a class="dropdown-item" href="{% url 'links:igap-groups' %}">ای گپ</a>
                    <a class="dropdown-item" href="{% url 'links:eitaa-groups' %}">ایتا</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="% url 'contact:contact-us' %">تماس با ما</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle">{% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username}}{% endif %}</a>

                    <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfile">-->
                    <div class="dropdown-menu dropdown-content dropdown-menu-right" aria-labelledby="dropdownProfile">
                        <a class="dropdown-item" href="{% url 'dashboard:index' %}">پنل کاربری</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'dashboard:logout' %}">خروج</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item"><a class="nav-link white" href="{% url 'dashboard:login' %}">ورود</a></li>
                <li class="nav-item"><a class="nav-link white" href="{% url 'dashboard:register' %}">ثبت نام</a></li>
            {% endif %}
        </ul>
    </div><!-- Collapse -->
</nav>

<!-- Search Box -->
<nav class="navbar navbar-dark bg-dark">
    <div class="col-12 m-0 p-0">
        <form class="form-inline float-right" action="% url 'links:search' %">
            <div class="input-group form-1 pl-0">
              <div class="input-group-prepend">
                  <button type="submit" class="input-group-text cyan lighten-2 cursor-pointer"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
              <input name="q" class="form-control my-0 py-1" type="text" placeholder="جستجو..." aria-label="Search">
            </div>
        </form>

    </div>
</nav>
