{% load static %}

<!-- right sidebar -->
<aside class="col-xl-2 col-md-3 mt-3">

    <!-- top advertisement -->
    <div class="row">
        <div class="col-md-12 col-6">
            <a href="#"><img class="rounded banner-img" src="{% static "img/instagram.png" %}" alt="Instagram baner" style="height: 74px;"></a>
        </div>
        <div class="col-md-12 col-6">
            <a href="#"><img class="rounded banner-img" src="{% static "img/telegram.png" %}" alt="Instagram baner" style="height: 74px;"></a>
        </div>
    </div><!-- top advertisement -->

    <!-- links to different sections -->
    <div class="row ml-auto mr-auto mt-2">

        <!-- categories -->
        <div class="col-12 mt-1 px-0 py-4 border border-info rounded">

            <h3 class="border-bottom px-2">دسته بندی ها</h3>

            <!-- links to websites -->
            <div class="row mt-5">
                <div class="col-12">
                    <h5>
                        <a class="px-2" href="% url 'posts:websites' %">وب سایت ها</a>
                    </h5>
                    <ul class="list-group">

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:iranian-websites' %">ایرانی</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a href="% url 'posts:foreign-websites' %">خارجی</a>
                        </li>
                    </ul>
                </div>
            </div><!-- links to websites -->

            <!-- links to channels -->
            <div class="row mt-5">
                <div class="col-12">
                    <h5>
                        <a class="px-2" href="% url 'posts:channels' %">کانال ها</a>
                    </h5>
                    <ul class="list-group">

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:telegram-channels' %">تلگرام</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:soroush-channels' %">سروش</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:gap-channels' %">گپ</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:igap-channels' %">ای گپ</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:eitaa-channels' %">ایتا</a>
                        </li>

                    </ul>
                </div>
            </div><!-- links to channels -->

            <!-- links to groups -->
            <div class="row mt-5">
                <div class="col-12">
                    <h5>
                        <a class="nounderline px-2" href="% url 'posts:groups' %">گروه ها</a>
                    </h5>

                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:telegram-groups' %">تلگرام</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:whatsapp-groups' %">واتساپ</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:soroush-groups' %">سروش</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:gap-groups' %">گپ</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:igap-groups' %">ای گپ</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <a class="nounderline" href="% url 'posts:eitaa-groups' %">ایتا</a>
                        </li>

                    </ul>
                </div>
            </div><!-- links to groups -->

            <!-- links to instagram -->
            <div class="row mt-5">
                <div class="col-12">
                    <h5>
                        <a class="nounderline px-2" href="% url 'posts:instagrams' %">اینستاگرام</a>
                    </h5>
                </div>
            </div><!-- links to instagram -->

        </div><!-- categories -->

    </div><!-- link to different sections -->
</aside><!-- right side -->
