{% extends "base.html" %}


{% block title %}
    {{ block.super }} |
    لیست کانال ها
{% endblock %}


{% block content %}
<section class="col-xl-10 col-md-9">
    <h1 class="mt-3 mb-4"><span class="badge badge-info">کانال ها</span></h1>

    <div class="row d-flex justify-content-center mt-5 mb-2">
        <a class="mx-1 btn channel-btn btn-danger font-weight-bold"
            href="{% url 'links:channels' %}">همه</a>
        <a class="mx-1 px-1 btn channel-btn bg-telegram font-weight-bold white"
            href="{% url 'links:telegram-channels' %}">تلگرام</a>
        <a class="mx-1 px-1 btn channel-btn bg-soroush font-weight-bold white"
            href="{% url 'links:soroush-channels' %}">سروش</a>
        <a class="mx-1 px-1 btn channel-btn bg-gap font-weight-bold white"
            href="{% url 'links:gap-channels' %}">گپ</a>
        <a class="mx-1 px-1 btn channel-btn bg-igap font-weight-bold white"
            href="{% url 'links:igap-channels' %}">ای گپ</a>
        <a class="mx-1 px-1 btn channel-btn bg-eitaa font-weight-bold white"
            href="{% url 'links:eitaa-channels' %}">ایتا</a>
    </div>

    <!-- list channels -->
    <div class="row">
        {% include "links/links.html" with links=object_list %}

        {% if is_paginated %}
            {% include "pagination.html" with page_obj=page_obj %}
        {% endif %}
    </div><!-- row: list channels -->
</section>
{% endblock %}
