{% extends "base.html" %}


{% block title %}
    {{ block.super }} |
    لیست اینستاگرام ها
{% endblock %}


{% block content %}
<section class="col-xl-10 col-md-9">
    <h1 class="mt-3 mb-4"><span class="badge badge-info">صفحات اینستاگرام</span></h1>

    <!-- list instagrams -->
    <div class="row">
        {% include "links/links.html" with links=object_list %}

        {% if is_paginated %}
            {% include "pagination.html" with page_obj=page_obj %}
        {% endif %}
    </div><!-- row: list instagrams -->
</section>
{% endblock %}
