{% load jalali_tags %}
{% load homelinks_tags %}

{% for link in links %}
    <div class="col-lg-6 col-12 mt-3">
        <article class="media post-section post">
            <a href="{{ link.get_absolute_url }}">
                <img class="rounded-circle article-img" src="{{ link.thumbnail_url }}" alt="{{ link.title }}">
            </a>
            <div class="media-body">
                <div class="article-metadata">
                    <h5><a class="article-title" href="{{ link.get_absolute_url }}">{{ link.title|truncatechars:40 }}</a></h5>
                </div>
                <div class="pt-2">
                    <p class="article-content">{{ link.description|truncatechars:28 }}</p>
                    <small class="text-muted">تاریخ ارسال: {{ link.created|to_jalali:"%y/%m/%d"|to_persian }}</small>
                </div>
            </div>
        </article>
    </div>
{% empty %}
    <div class="m-2">
        موردی برای نمایش وجود ندارد.
    </div>
{% endfor %}
