{% load jalali_tags %}
<section class="col-xl-10 col-md-9 mt-md-4 mt-3">

    <div class="row border border-info rounded mx-0 pt-1 pb-3">

        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <img class="img-fluid rounded link-img" src="{{ object.image.url }}" alt="{{ object.title }}">
                </div>

                <div class="col-lg-8 col-12 pt-3">
                    <h1 class="lead border-bottom mb-4 p-xl-2 rounded font-weight-bold">{{ object.title }}</h1>
                    <div class="text-justify py-1 px-2">{{ object.description|linebreaks }}</div>
                </div>
            </div><!-- row: Post content -->

            <div class="row mt-4">
                <div class="col-lg-4 col-sm-6 col-12">
                    <ul class="list-unstyled">
                        <li class="white bg-info rounded post-meta mb-1"
                            >تاریخ ارسال: {{ object.created|to_jalali:"%y/%m/%d" }}</li>
                        <li class="white bg-info rounded post-meta"
                            >ارسال کننده: {% if object.first_name and object.last_name %}{{ object.author.first_name }} {{ object.author.last_name }}{% else %}{{ object.author.username }}{% endif %}</li>
                    </ul>
                </div>

                <div class="col-lg-4 col-sm-6 offset-lg-4 col-12 mt-2">
                    <a class="btn btn-sm btn-danger float-right" href="{% url 'links:report' %}?model={{ model_name }}&slug={{ object.slug }}">گزارش</a>
                    <a class="btn btn-sm btn-success float-right mr-1"
                        href="{{ object.url }}">مشاهده/عضویت</a>
                </div>
            </div>
        </div>
    </div><!-- post-content -->

    <div class="border border-info rounded mt-3">
        <article class="p-2">

            {% for tag in object.tags.all %}
                <a class="badge badge-secondary tag-size" href="% url 'links:tagged_items' tag.slug %">{{ tag }}</a>
            {% endfor %}

        </article>
    </div>
</section>
